<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>User Management</display-name>
    <context-param>
        <param-name>jdbcURL</param-name>
        <param-value>jdbc:mysql://localhost:3306/quiz?zeroDateTimeBehavior=convertToNull</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcUsername</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>jdbcPassword</param-name>
        <param-value>nivi@123</param-value>
    </context-param>
    <servlet>
        <servlet-name>registerServ</servlet-name>
        <servlet-class>jdbc.registerServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <servlet-class>jdbc.ControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailDispatcherServlet</servlet-name>
        <servlet-class>mail.MailDispatcherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServ</servlet-name>
        <servlet-class>jdbc.UpdateServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminValid</servlet-name>
        <servlet-class>adminValid</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>result</servlet-name>
        <servlet-class>result</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServ</servlet-name>
        <url-pattern>/registerServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/ControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailDispatcherServlet</servlet-name>
        <url-pattern>/MailDispatcherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServ</servlet-name>
        <url-pattern>/UpdateServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminValid</servlet-name>
        <url-pattern>/adminValid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>result</servlet-name>
        <url-pattern>/result</url-pattern>
    </servlet-mapping>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/newError.jsp</location>
    </error-page>
</web-app>
