/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 30, 2019, 10:05:47 AM
    Author     : nivedita pathania
*/
.search {
  width: 100%;
  position: relative;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 52px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;  
  right: -60px;
  width: 55px;
  height: 52px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}


/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: fixed;
  top: 7%;
  left: 50%;
  transform: translate(-50%, -50%);
 z-index: 10;
}

.topnav a {
  float: right;
  color: black;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
  font-size: 20px;
  font-weight:500;
  font-family: 'Montserrat', sans-serif;
  margin-right: 55px;
  margin-top: -55px;
  position: relative;
}
.reg{
    background-color: #00B4CC;
    padding: 0;
    border-radius: 10%;
}
.topnav .reg:hover{
    color: white;
}

.topnav a:hover {
  color: #00B4CC;
}

.header {
  padding: 0px;
  background: white;
  
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1100px;
  position: relative;
  margin: auto;
  z-index: -10;
}
/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  
}
.slider{
    background-color: whitesmoke;
    height: 200px;
    width: 1000px;
    position: relative;
    left:180px;
    z-index: -100;
    box-shadow: #333333 0px 5px 10px 5px ;
}
